*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
app/build/
/captures
.externalNativeBuild
.cxx
local.properties

captures/
*.log

go-core/bin/
go-core/pkg/test/test-main

.env

app/libs/gobackend.aar
app/libs/gobackend-sources.jar

collect_kotlin.py
all_kotlin_sources.txt

'Markdown to PDF.pdf'
secure_messenger.pages
